.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  transition: opacity var(--transition-animation),
    visibility var(--transition-animation);
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: fixed;
  width: 528px;
  min-height: 581px;
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  &-close {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 10px;
    background: var(--white);
    display: flex;
    align-items: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      fill: var(--vivid-blue);
    }
    &:focus {
      fill: var(--vivid-blue);
    }
  }
  &-tittle {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--very-dark-gray);
    margin-bottom: 20px;
  }
  &-forns {
    width: 448px;
    height: 342px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    &-label {
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.01em;
      color: var(--dark-gray);
    }
    .input-textarea {
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      margin-top: 4px;
      width: 448px;
      height: 120px;
      color: var(--mostly-black);
      padding-top: 16px;
      padding-left: 12px;
      outline: transparent;
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
        border-color: var(--vivid-blue);
      }
    }
  }
}

.input-container-modal {
  position: relative;
}
.icon-modal {
  position: absolute;
  left: 12px;
  top: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-container-modal:hover .icon-modal {
  fill: var(--vivid-blue);
}
.input-container-modal:focus-within .icon-modal {
  fill: var(--vivid-blue);
}
.input-cont {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  color: var(--mostly-black);
  padding-left: 45px;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-cont:hover,
.input-cont:focus {
  border-color: var(--vivid-blue);
}
.input-container-modal:focus .icon-modal {
  border-color: var(--vivid-blue);
}
.input-container-modal:hover .icon-modal {
  border-color: var(--vivid-blue);
}

.input-label-check {
  display: flex;
  justify-content: center;
  gap: 8.38px;
  margin-bottom: 30px;
  position: relative;
}
.input-check {
  gap: 8.38px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.checkbox-icon_check {
  opacity: 0;
}
.input-check:checked + .checkbox-icon .checkbox-icon_uncheck {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-check:checked + .checkbox-icon .checkbox-icon_check {
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
