.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 34px;
  gap: 8px;
  margin-top: 94px;
  &-button {
    display: flex;
    justify-content: center;
    align-items: center;
    &-text {
      background: var(--light-grayish-blue);
      border-radius: 4px;
      border: 0;
      padding: 6px 22px 6px 22px;
      transition: color var(--transition-animation),
        background var(--transition-animation);
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      letter-spacing: 0.03em;
      color: var(--very-dark-gray);
      &:active {
        background: var(--vivid-blue);
        box-shadow: 0px 3px 1px var(--mostly-black),
          0px 1px 2px var(--mostly-black), 0px 2px 2px var(--mostly-black);
        border-radius: 4px;
      }
      &:hover,
      &:focus {
        background-color: var(--vivid-blue);
        color: var(--white);
      }
    }
  }
}
