.header-studio-port {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--vivid-blue);
  display: block;
  position: relative;
  padding-bottom: 28px;
  padding-top: 28px;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 78px;
    height: 4px;
    background-color: var(--vivid-blue);
    border-radius: 2px;
  }
}
.header-port {
  border-bottom: 1px solid var(--very-light-gray);
}
