.project-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 94px;
}

.project-item {
  width: 370px;
  background: var(--white);
  display: block;
  transition: box-shadov var(--transition-animation);
}
.project-after {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.04em;
  color: var(--very-dark-gray);
}
.project-tittle {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--dark-gray);
}
.card-flex {
  border-top: 0;
  padding: 20px 24px;
  border: 1px solid var(--very-light-gray-two);
}
.project-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-anim {
  position: relative;
  overflow: hidden;
}
.project-top-text {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--white);
  background-color: rgba(33, 150, 243, 0.9);
  line-height: 28px;
  font-weight: 400;
  padding: 40px;
  height: 100%;
  transform: translateY(100%);
  transition: var(--transition-animation);
}
.project-item:hover .project-top-text {
  transform: translateY(0%);
}
